Worker/Contracts/Schemas/worker-crack-result.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WorkerCrackResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestId" type="xs:string" />
        <xs:element name="PartNumber" type="xs:int" />
        <xs:element name="Words" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Word" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
